* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #00000050, #00000000),
        url('./img/beach.jpg');
    background-size: cover;
}

.main {
    display: flex;
}

/* Nav bar */

nav {
    background: linear-gradient(to right, #000060, #555);
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    height: 60px;
}
nav ul {
    list-style-type: none;
    padding: 5px 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}
nav ul button {
    background-color: #4055dd;
    color: #ddd;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    align-self: end;
}

nav ul input {
    border: none;
    background-color: #ddd;
}

nav a {
    text-decoration: none;
    color: #ddd;
    font-weight: bold;
}

.siteName {
    font-weight: bold;
    color: #ddd;
}

.recSearch {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ddd;
    padding: 5px 10px;
    border-radius: 20px;
}

/* Social Links */

.social {
    margin-top: 80px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.socialLinks {
    display: flex;
    flex-direction: column;
}

.socialLink {
    color: #ddd;
    font-size: 24px;
    margin-bottom: 15px;
}

.vr {
    border: solid 1px #ddd;
    width: 1px;
    height: 200px;
}

/* Home Page */

.home {
    margin: 120px 0 10px 60px;
    color: #ddd;
}

.home h1 {
    font-size: 64px;
}

.home p {
    font-size: 24px;
    width: 300px;
}

/* About Page */

.about {
    margin: 80px 0 10px 60px;
    color: #fff;
}

.about h1 {
    font-size: 64px;
    margin-bottom: 40px;
}

.about p {
    font-size: 24px;
    margin-bottom: 40px;
    width: 80%;
}

.team {
    width: 80%;
    margin-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.team h2 {
    font-size: 32px;
}

.teamMember h4 {
    font-size: 24px;
}

.teamMember p {
    font-size: 18px;
    margin-bottom: 15px;
}

.teamMember div {
    background-color: #4055dd;
    padding: 5px;
    border-radius: 24px;
    text-align: center;
}

/* Contact Page */

.contact {
    width: 100%;
    margin: 200px 60px 80px 60px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    gap: 120px;
}

.contact h1 {
    margin-top: 40px;
    font-size: 64px;
}

.contact form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contact form input,
.contact form textarea {
    opacity: 0.5;
}

.contact button {
    background-color: #4055dd;
    text-align: center;
    margin-top: 10px;
    border-radius: 24px;
    border: none;
    color: #fff;
}

/* Search Results */
.resultDiv {
    margin: 20px 20px 0 80px;
    width: 400px;
}

.outputDiv {
    margin-bottom: 40px;
    background-color: #ddd;
    border-radius: 20px;
}

.resultImg {
    height: 400px;
    width: 400px;
    border-radius: 20px 20px 0 0;
}

.outputDiv p,
.outputDiv h2 {
    padding: 10px;
}
